{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroMag</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h2>PetroMag</h2>
        <table>
			<thead>
				<tr>
					<th>
						Matricule
					</th>
					<th>
						Nom
					</th>

				{% for day in days %}
                <th> {{day}} </th>
                    {% endfor %}
					
			</thead>
			<tbody id="team-member-rows">
				{% for emp_data in data %}
        <tr>
          <td>{{emp_data.employee.matricule}}</td>
          <td> {{emp_data.employee}}</td>
          {% for result in emp_data.results %}
          {% if result %}
    {% if result == "R" %}
        <td id="res" class="R">{{ result }}</td>
    {% elif result == "T" %}
        <td id="res" class="T">{{ result }}</td>
    {% elif result == "1" %}
        <td id="res" class="one">{{ result }}</td>
    {% elif result == "I" %}
        <td id="res" class="I">{{ result }}</td>
    {% elif result == "2" %}
        <td id="res" class="two">{{ result }}</td>
    {% elif result == "M" %}
        <td id="res" class="M">{{ result }}</td>
    {% elif result == "A" %}
        <td id="res" class="A">{{ result }}</td>
    {% elif result == "6" %}
        <td id="res" class="six">{{ result }}</td>
    {% elif result == "7" %}
        <td id="res" class="seven">{{ result }}</td>
    {% elif result == "8" %}
        <td id="res" class="eight">{{ result }}</td>
    {% elif result == "9" %}
        <td id="res" class="nine">{{ result }}</td>
    {% elif result == "C" %}
        <td id="res" class="C">{{ result }}</td>
    {% elif result == "Cr" %}
        <td id="res" class="Cr">{{ result }}</td>
    {% endif %}
{% else %}
    <td>
        <select class="form-control" name="select">
            <option value="-">-</option>
            <option value="T">T</option>
            <option value="R">R</option>
            <option value="1">1</option>
            <option value="I">I</option>
            <option value="2">2</option>
            <option value="M">M</option>
            <option value="A">A</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="C">C</option>
            <option value="Cr">Cr</option>
        </select>
    </td>
{% endif %}

          
          {% endfor %}
        </tr>
        {% endfor %}
			</tbody>
		</table>
        <button type="button" id="saveBtn" class="btn btn-primary">Save</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function() {
            $('#saveBtn').click(function() {
                var dataToSend = {};
                $('select').each(function(index, element) {
                    var matricule = $(this).closest('tr').find('td:first').text();
                    var selectedOption = $(this).val();
                    var number = $(this).closest('td').index() - 1; // Get the number (column index - 1)
                    var id = parseInt(matricule);
                    if (!dataToSend[id]) {
                        dataToSend[id] = {}; // Initialize dictionary for this matricule if not already present
                    }
                    dataToSend[id][number] = selectedOption; // Set the selected option for the corresponding number
                });
        
                // Get CSRF token
                var csrfToken = "{{ csrf_token }}";
        
                // Sending data as JSON to the server with CSRF token
                $.ajax({
                    type: 'POST',
                    url: '/',  // URL pattern associated with the test view
                    data: JSON.stringify(dataToSend),
                    contentType: 'application/json',
                    headers: {
                        "X-CSRFToken": csrfToken
                    },
                    success: function(response) {
                        location.reload(true)
                        // Handle success response
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
        
        </script>
</body>
</html>
