* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}


/* Static CSS file for home page styling */

/* Style for the container */
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.res {
  font-size: 18px;
  padding-top: 10px;
  margin-top: 10px;

}
/* Style for the table */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table head */
.table th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
}

/* Style for table body */
.table td {
  text-align: center;
  padding: 8px;
}

/* Style for table rows */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table select elements */
.table select {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #495057;
  outline: none;
}

/* Optional: Hover effect for select elements */
.table select:hover {
  border-color: #007bff;
}

